:root {
    --header-color: #24292e;
    --white-color: #ffffff;
    --border-color: #444d56;
    --input-color: #e1e4e8;
    --line-color: #ebedef;
    --repo-color: #0366d6;
    --text-color: #586069;
    --star-bg: #fafbfc;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, html {
    font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Helvetica,Arial,sans-serif,Apple Color Emoji,Segoe UI Emoji;
    font-size: 10px;
    line-height: 1.5;
}

.header {
    height: 6rem;
    background-color: var(--header-color);
    padding: 0 4rem;
    display: flex;
    align-items: center;
}

.search-bar {
    width: 30rem;
    margin: 0 2rem;
    border: 1px solid var(--border-color);
    border-radius: .5rem;
    height: 3rem;
    display: flex;
}

.search {
    background: transparent;
    border: none; 
    height: inherit;
    color: var(--white-color);
    padding: 0 2rem;
    flex: 1;
}

.search:focus {
    outline: none;
}

.search-icon {
    margin-right: 1rem;
    align-self: center;
}

.nav {
    width: 32rem;
    list-style: none;
    display: flex;
    justify-content: space-between;
}

.nav-item {
    font-size: 1.4rem;
    font-weight: 700;
}

.nav-link {
    text-decoration: none;
    color: var(--white-color);
}

.buttons {
    height: 4rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: auto;
    width: 12rem;
}

.buttons button {
    height: 1.8rem; 
    background-color: transparent;
    border: none;
    cursor: pointer;
    display: flex;
    align-items: center;
}

.buttons button img {
    height: 100%;
}

button.more img {
    height: 70%;
}

button.more img:last-of-type,
button.profile img:last-of-type {
    margin-top: .5rem;
    margin-left: .6rem;
    height: 60%;
}

button.profile img:first-child {
    border-radius: 50%;
}

.container {
    height: 20rem;
    max-width: 120rem;
    margin: 2rem auto;
    display: grid;
    grid-template-columns: 1.2fr 3fr;
    gap: 2rem;
    min-height: 100vh;
}

.profile-img {
    position: relative;
}

.profile-img > img {
    width: 27rem;
    border-radius: 50%;
}


.smiley {
    background-color: var(--white-color);
    width: 3rem;
    height: 3rem;
    padding: .7rem;
    border-radius: 50%;
    box-shadow: 1px 1px 2px rgba(0, 0, 0, .5);
    position: absolute;
    bottom: 5rem;
    right: 8rem;
}

.profile-info {
    margin-top: 2rem;
}

.profile-info h1 {
    font-size: 2.5rem;
}

.profile-info h2 {
    font-weight: 300;
    font-size: 2rem;
    color: var(--text-color);
}

.profile-info p {
    margin-top: 1rem;
    font-size: 1.6rem;
}

.main {
    margin-bottom: 5rem;
}

.repo-search-bar {
    padding: 0 1rem;
    border-bottom: 1px solid var(--line-color);
}

.repo-search {
    height: 3.5rem;
    width: 100%;
    margin: 2rem 0;
    padding: 0 1rem;
    border-radius: .7rem;
    border: 1px solid var(--input-color);
}

.repo-search:focus {
    outline: none;
}

.repo-count {
    padding: 2rem 0;
    border-bottom: 1px solid var(--line-color);
    font-size: 1.5rem;
    color: var(--text-color);
    display: inline-block;
}

.repo-count span {
    font-weight: bold;
}

.repo {
    border-bottom: 1px solid var(--line-color);
    padding: 3rem 0;
    display: flex;
    justify-content: space-between;
}

.repo-info {
    width: 50rem;
    padding-right: 3rem;
}
.repo-name {
    color: var(--repo-color);
    font-size: 1.95rem;
    cursor: pointer;
}

.repo-description {
    color: var(--text-color);
    font-size: 1.4rem;
}

.repo-detail {
    margin-top: 1rem;
    display: flex;
    align-items: center;
    color: var(--text-color);
}

.repo-detail small {
    margin-right: 2rem;
    font-size: 1.2rem;
}

.repo-detail img {
    width: 1.5rem;
    margin-right: .5rem;
}

.repo-color {
    display: inline-block;
    background-color: #178600;
    height: 1.5rem;
    width: 1.5rem;
    border-radius: 50%;
    margin-right: 1rem;
}

.svg {
    display: inline-block;
    overflow: visible !important;
    vertical-align: text-bottom;
    fill: currentColor;
    margin-right: .5rem;
    width: 1.5rem;
}

.repo-star {
    width: 6.5rem;
    height: 2.8rem;
    margin-top: .5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--star-bg);
    border: 1px solid rgba(27, 31, 35, 0.15);
    border-radius: .5rem;
    font-size: 1.2rem;
    font-weight: 300;
    color: var(--header-color);
    cursor: pointer;
}

.repo-star img {
    width: 1.3rem;
    margin-right: 1rem;
}

.repo-html {
    background-color: #e34c26;
}

.repo-css {
    background-color: #563d7c;
}

.repo-javascript {
    background-color: #f1e05a;
}

.repo-typescript {
    background-color: #2b7489;
}

.repo-java {
    background-color: #b07219;
}

.repo-scala {
    background-color: #c22d40;
}

.repo-python {
    background-color: #3572A5;
}

.repo-shell {
    background-color: #89e051;
}

.repo-dart {
    background-color: #00B4AB;
}
