:root {
    --header-color: #24292e;
    --white-color: #ffffff;
    --border-color: #444d56;
    --input-color: #e1e4e8;
    --line-color: #ebedef;
    --repo-color: #0366d6;
    --text-color: #586069;
    --star-bg: #fafbfc;
    --mini-btn-color: #f3f4f6;
    --tab-active-color: #f9826c;
    --tab-hover-color: #d1d5da;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, html {
    font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Helvetica,Arial,sans-serif,Apple Color Emoji,Segoe UI Emoji;
    font-size: 10px;
    line-height: 1.5;
}

.header {
    min-height: 6rem;
    background-color: var(--header-color);
    padding: 0 4rem;
    display: flex;
    align-items: center;
}

.hamburger {
    flex-direction: column;
    justify-content: space-around;
    height: 2.4rem;
    border: none;
    background-color: transparent;
    cursor: pointer;
    display: none;
}

.hamburger:active {
    transform: scale(0.95);
}

.hamburger .line {
    width: 2.4rem;
    height: .2rem;
    border-radius: .2rem;
    background-color: var(--white-color);

}

.search-bar {
    width: 30rem;
    margin: 0 2rem;
    border: 1px solid var(--border-color);
    border-radius: .5rem;
    height: 3rem;
    display: flex;
}

.search {
    background: transparent;
    border: none; 
    height: inherit;
    color: var(--white-color);
    padding: 0 2rem;
    flex: 1;
}

.search:focus {
    outline: none;
}

.search-icon {
    margin-right: 1rem;
    align-self: center;
}

.nav {
    width: 32rem;
    list-style: none;
    display: flex;
    justify-content: space-between;
}

.nav-item {
    font-size: 1.4rem;
    font-weight: 700;
}

.nav-item.hidden {
    display: none;
}

.nav-link {
    text-decoration: none;
    color: var(--white-color);
}

.buttons {
    height: 4rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: auto;
    width: 12rem;
}

.buttons button {
    height: 1.8rem; 
    background-color: transparent;
    border: none;
    cursor: pointer;
    display: flex;
    align-items: center;
}

.buttons button img {
    height: 100%;
}

button.more img {
    height: 70%;
}

button.more img:last-of-type,
button.profile img:last-of-type {
    margin-top: .5rem;
    margin-left: .6rem;
    height: 60%;
}

button.profile img:first-child {
    border-radius: 50%;
}

.tabs {
    margin-top: 2rem;
    height: 5rem;
    border-bottom: 1px solid var(--line-color);
    position: sticky;
    top: 0;
    background-color: var(--white-color);
}

.container {
    max-width: 120rem;
    margin: 1rem auto;
    display: grid;
    grid-template-columns: 1.2fr 3fr;
    gap: 2rem;
    height: inherit;
}

.tabs-profile {
    display: flex;
    align-items: center;
    visibility: hidden;
}

.tabs-profile.visible {
    visibility: visible;
}

.tabs-profile img {
    width: 3.5rem;
    height: 3.5rem;
    margin-right: .8rem;
    border-radius: 50%;
}

.tabs-info {
    display: flex;
    flex-direction: column;
}

.tabs-info span {
    font-weight: bold;
    font-size: 1.1rem;
    color: var(--header-color);
}

.tabs-info button {
    border: none;
    background-color: var(--mini-btn-color);
    padding: .2rem 1rem;
    font-size: 1.2rem;
    border-radius: .5rem;
    font-weight: 300;
    cursor: pointer;
}

.main-tabs {
    list-style: none;
    display: flex;
    height: 100%;
}

.main-tabs .tab {
    padding: 1rem 2rem;
    font-size: 1.4rem;
    cursor: pointer;
    display: flex;
    align-items: center;
    min-width: 12rem;
}

.main-tabs .tab:hover {
    border-bottom: 2px solid var(--tab-hover-color);
}

.main-tabs .tab img {
    height: 1.5rem;
    margin-right: .5rem;
}

.main-tabs .tab span {
    background-color: var(--input-color);
    opacity: 0.7;
    border-radius: 2rem;
    margin-left: 1rem;
    padding: .1rem 1rem;
    font-size: 1.2rem;

}

.main-tabs .tab.tab-active {
    border-bottom: 2px solid var(--tab-active-color);
}

.inner-tabs {
    display: none;
}

.profile-img {
    position: relative;
}

.profile-img > img {
    width: 27rem;
    border-radius: 50%;
    margin-top: -4rem;
}


.smiley {
    background-color: var(--white-color);
    width: 3rem;
    height: 3rem;
    padding: .7rem;
    border-radius: 50%;
    box-shadow: 1px 1px 2px rgba(0, 0, 0, .5);
    position: absolute;
    bottom: 5rem;
    right: 8rem;
}

.profile-info {
    margin-top: 2rem;
}

.profile-info h1 {
    font-size: 2.5rem;
}

.profile-info h2 {
    font-weight: 300;
    font-size: 2rem;
    color: var(--text-color);
}

.profile-desc {
    margin-top: 1rem;
    font-size: 1.6rem;
}

.main {
    margin-bottom: 5rem;
}

.repo-search-bar {
    padding: 0 1rem;
    border-bottom: 1px solid var(--line-color);
}

.repo-search {
    height: 3.5rem;
    width: 100%;
    margin: 2rem 0;
    padding: 0 1rem;
    border-radius: .7rem;
    border: 1px solid var(--input-color);
}

.repo-search:focus {
    outline: none;
}

.repo-count {
    padding: 2rem 0;
    border-bottom: 1px solid var(--line-color);
    font-size: 1.5rem;
    color: var(--text-color);
    display: inline-block;
}

.repo-count span {
    font-weight: bold;
}

.form {
    display: inline-flex;
    position: relative;
    flex-wrap: wrap;
}

.form .spin {
    visibility: hidden;
}

.form.submitting .spin {
    visibility: visible;
}

.request-txt {
    border-radius: .5rem;
    border: 1px solid var(--line-color);
    padding: 0 2rem;
    width: 25rem;
    height: 4rem;
    margin-right: 2rem;
}

.request-txt:focus, .request-btn:focus {
    outline: none;
}

.request-btn {
    border: none;
    padding: .5rem 1.5rem;
    border-radius: 1rem;
    background-color: var(--header-color);
    color: var(--white-color);
}

.request-btn:active {
    transform: scale(0.98);
}

.request-btn:disabled {
    transform: scale(1);
    background-color: var(--tab-hover-color);
}

.error {
    height: 4rem;
    width: 100%;
    padding: 2rem;
    background-color: var(--tab-active-color);
    margin: 2rem 0;
    color: var(--white-color);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.5rem;
    font-weight: bold;
    border-radius: 1rem;
    visibility: hidden;
}

.error.display {
    visibility: visible;
}

@keyframes spinner {
    0% {
      transform: translate3d(-50%, -50%, 0) rotate(0deg);
    }
    100% {
      transform: translate3d(-50%, -50%, 0) rotate(360deg);
    }
  }

  
  .spin::before {
    animation: 1s linear infinite spinner;
    animation-play-state: inherit;
    border: solid .5rem #cfd0d1;
    border-bottom-color: #1c87c9;
    border-radius: 50%;
    content: "";
    height: 2rem;
    width: 2rem;
    position: absolute;
    top: 15%;
    right: -5rem;
    align-self: center;
    transform: translate3d(-50%, -50%, 0);
    will-change: transform;
  }

.repo {
    border-bottom: 1px solid var(--line-color);
    padding: 3rem 0;
    display: flex;
    justify-content: space-between;
}

.repo-info {
    width: 50rem;
    padding-right: 3rem;
}
.repo-name {
    color: var(--repo-color);
    font-size: 1.95rem;
    cursor: pointer;
}

.repo-description {
    color: var(--text-color);
    font-size: 1.4rem;
}

.repo-detail {
    margin-top: 1rem;
    display: flex;
    align-items: center;
    color: var(--text-color);
}

.repo-detail small {
    margin-right: 2rem;
    font-size: 1.2rem;
}

.repo-detail img {
    width: 1.5rem;
    margin-right: .5rem;
}

.repo-color {
    display: inline-block;
    background-color: #178600;
    height: 1.5rem;
    width: 1.5rem;
    border-radius: 50%;
    margin-right: 1rem;
}

.svg {
    display: inline-block;
    overflow: visible !important;
    vertical-align: text-bottom;
    fill: currentColor;
    margin-right: .5rem;
    width: 1.5rem;
}

.repo-star {
    width: 6.5rem;
    height: 2.8rem;
    margin-top: .5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--star-bg);
    border: 1px solid rgba(27, 31, 35, 0.15);
    border-radius: .5rem;
    font-size: 1.2rem;
    font-weight: 300;
    color: var(--header-color);
    cursor: pointer;
}

.repo-star img {
    width: 1.3rem;
    margin-right: 1rem;
}

.repo-html {
    background-color: #e34c26;
}

.repo-css {
    background-color: #563d7c;
}

.repo-javascript {
    background-color: #f1e05a;
}

.repo-typescript {
    background-color: #2b7489;
}

.repo-java {
    background-color: #b07219;
}

.repo-scala {
    background-color: #c22d40;
}

.repo-python {
    background-color: #3572A5;
}

.repo-shell {
    background-color: #89e051;
}

.repo-dart {
    background-color: #00B4AB;
}


@media screen and (max-width: 769px){
    .header {
        padding: 0 2rem;
    }
    
    .search-bar {
        width: 25rem;
        margin: 0 1rem;
    }
    
    .search {
        padding: 0 1rem;
    }
    
    .nav {
        width: 30rem;
    }
    
    .nav-item {
        font-size: 1.4rem;
    }
    
    .buttons {
        width: 10rem;
    }
    
    .buttons button img {
        height: 80%;
    }
    
    .container {
        grid-template-columns: 1fr 2.5fr;
        gap: 1rem;
        margin: 2rem;
    }
    
    .profile-img > img {
        width: 17rem;
        margin-top: -5rem;
    }
    
    
    .smiley {
        display: none;
    }
    
    .profile-info {
        margin-top: 2rem;
    }
    
    .profile-info h1 {
        font-size: 3.1rem;
        font-weight: 600;
    }

    .profile-desc {
        padding-right: 3.5rem;
    }

    .repo-search-bar {
        padding: 0;
    }
    
    .repo-info {
        width: 45rem;
    }

    .repo-description {
        padding-top: 1rem;
        padding-bottom: 1rem;
        padding-right: 12rem;
        display: inline-block;
    }
    
    .repo-detail {
        margin-top: .3rem;
    }
    
    .repo-star {
        margin-top: 0;
        align-self: center;
    }
    
}

@media screen and (max-width: 450px) {
    .header {
        padding: 2rem;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    
    .hamburger {
        display: flex;
    }
    
    .search-bar {
        width: 100%;
        margin: 2rem 0;
        height: 3rem;
        order: 1;
        display: none;
    }
    
    .search {
        padding: 0 1rem;
    }
    
    .search-icon {
        margin-right: 1rem;
    }
    
    .nav {
        width: 100%;
        flex-direction: column;
        order: 2;
        display: none;
    }

    .header.show .db {
        display: flex;
    }
    
    .nav-item {
        padding: 1rem 0;
        border-top: 1px solid var(--border-color);
    }

    .nav-item.hidden {
        display: block;
    }

    .nav-link {
        display: flex;
        align-items: center;
    }
    .nav-img {
        height: 2.5rem;
        margin-right: .7rem;
        border-radius: 50%;
    }

    .nav-img-sm {
        height: 1.3rem;
        margin-right: .7rem;
    }
    
    .buttons {
        width: auto;
        margin: 0;
    }

    .buttons button img {
        height: 100%;
    }
    
    button.more, button.profile {
        display: none;
    }

    .tabs {
        display: none;
    }
    
    .container {
        margin: 2rem;
        grid-template-columns: 1fr;
        min-height: auto;
    }

    .aside {
        display: flex;
        flex-wrap: wrap;
    }
    
    .profile-img > img {
        width: 5.8rem;
        margin-top: 0;
        margin-right: 2rem;
    }
    
    .profile-info {
        margin-top: 0;
    }
    
    .profile-info h1 {
        font-size: 2rem;
    }

    .profile-desc {
        margin-top: 3rem;
        padding: 0;
        font-size: 1.5rem;
    }
    
    .main {
        margin-bottom: 0;
        overflow-x: hidden;
    }

    .inner-tabs {
        display: block;
        margin: 0 -2rem;
        border-bottom: 1px solid var(--line-color);
        padding: 2rem 0;
        overflow-x: scroll;
        position: sticky;
        top: 0;
        z-index: 1;
    }

    .main-tabs {
        width: 52rem;
    }

    .request-txt {
        width: 55%;
    }

    .spin::before {
        right: -1.4rem;
    }

    .repo-name {
        word-break: break-all;
    }

    .repo-info {
        width: auto;
        padding-right: 0;
        flex: 1;
    }
    
    .repo-description {
        padding: 0;
    }
    
    .repo-detail {
        margin-top: 1rem;
        flex-wrap: wrap;
    }
    
    .repo-detail small {
        word-break: break-all;
    }
    
    .repo-detail img {
        width: 1.5rem;
        margin-right: .5rem;
    }
}